@import 'mixin/__index';

:root {
    --color-text: #ffffff;
    --color-bg: rgb(0, 0, 0);
    --color-effect: #3ffc9e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sr-only {
    @include sr-only;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    top: 0;
    left: 0;
    
    background-color: var(--color-bg);
    
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-text);

    height: 100vh;
    max-height: 100vh;
    width: 100%;
}

a {
	color:var(--color-text);
	text-decoration:none;
}

h1, h2 {
	text-align:center;
	margin-bottom:20px;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}
h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

p {
	margin:0;
	padding:0 35px 0 0;
}


#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    padding: 1rem;
    
    width: 100%;
    height: 5rem;
    
    border-bottom: 2px solid var(--color-effect);
    
    #logo {
        display: block;
        // width: 100%;
        // max-width: 100%;
        height: auto;
        color: var(--color-effect);

    }
    .h2 {
        margin-left: 2rem;
        font-size: 2rem;
    }
}

#main {
    display: flex;
    flex-direction: row;

    // padding: 5rem 0;

    width: 100%;
    height: 100%;

    .poster {
        #poster { 
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            transform: translateX(-50%) translateY(-50%);
            background: url('') no-repeat;
            background-size: cover;
            transition: 1s opacity;
        }
    }
    
    #b-annonce {
        
        display: flex;
        position: relative;
        justify-content: center;
        // top: 20%;
        // left: 10%;
        
        margin:5rem auto;
        padding: 0;
        width: 50%;
        height: 100%;

        iframe{
            max-width:640px; 
            max-height:360px;
            overflow: hidden;
        }  
    }

    #container-desc {
        font-weight:100; 
        font-size: 1.2rem;
        margin:2rem;
        padding: 2rem;
        
        background: rgba(0,0,0,0.3);
        color: white;
        
        width: 50%;
        height: max-content;

        #button {
            margin: auto;
            display: flex;
            justify-content: space-between; 

            ul {
                display: flex;
                justify-content: space-between;
            }
        }
        button, a { 
            display: block;
            padding: 1rem;
            border: none; 
            margin: 1rem 2rem; 
            font-size: 1.3rem;
            background: rgba(0,0,0,0.5);
            border: 2px solid rgba(0,0,0,0.5);
            color: #fff;
            border-radius: 3px; 
            cursor: pointer;
            
            transition: .6s background; 

            &:hover { 
                background: rgba(0,0,0,0.8);
                border: 2px solid var(--color-text);
            }
        }
        span {
            font-style: italic;
        }
        
    }
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 1rem;
    
    text-align: center;
    background-color: var(--color-bg);

    font-size: 1.4rem;
}


@media screen and (max-width: 768px) {
    #header {
        padding: 1rem .5rem;
        justify-content: center;

        h1 {
            font-size: 1.5rem;
        }
        .h2 {
            font-size: 1.2rem;
        }
    }

    #footer {
        justify-content: center;
        width: 100%;
        p {
            padding: 0;
        }
    }
}
@media (max-width: 1024px) {
    #main {
        flex-direction: column;
        margin: 0 auto;

        #b-annonce {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 5rem auto;
            // padding: 2rem;

        }
        #container-desc {
            font-size: 1.2rem;
            font-weight:100; 
            background: rgba(0,0,0,0.3);
            color: white;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 2rem auto;

            
        }
    }
}